body {
          background-color:#0089BA;
				}
h1, h2, h3, h4, p, li {
          color: rgb(255,255,255);
          font-family: 'Arial', cursive;
}
a {
	font-family: 'Arial', cursive;
}
nav {
background-color:#2C73D2;
overflow:hidden;
}
nav a {
float:left;
color:#f2f2f2;
text-align:center;
padding:15px;
text-decoration:none;
}
nav a:hover{
background-color: #00C9A7;
color:black;
}
aside{
  background:#2C73D2;
  float:right;
  width: 30%;
  padding-left:15px;
  margin-left:15px;
}
footer{
  text-decoration:none;
}